<section>
  <Message::Avatar @message={{this.args.message}} />
  <!--<Message::Username @username={{this.args.message.username}} @postedAt={{this.args.message.postedAt}} />-->
  <Message::Username @message={{this.args.message}} />
</section>
<div class="content">
{{this.args.message.content}}
</div>
<button class="message-button" type="button" {{on "click" this.deleteMessage}}>&#128393;</button>
<button class="message-button" type="button" {{on "click" this.showMessageEditBox}}>&#128465;</button>
