 <Message::Avatar
    @title="{{@username}}'s Avatar"
    @initial={{substring @username start=0 end=1}}
    @isCurrentUser={{@isCurrentUser}}
    class="{{if @isCurrentUser true}}"
  />
  <section>
    <Message::Username
      @username={{@username}}
      @postedAt={{@postedAt}}
    />
    {{!-- content here --}}
    {{yield}}
    {{@content}}
  </section>


