{{!--
<div class="messages">
  {{#each this.messages as |message|}}
    <Message
      @username={{message.username}}
      @userIsActive={{message.active}}
      @userLocaltime={{message.localTime}}
    >
      {{{message.content}}}
    </Message>
  {{/each}}

  <NewMessageInput @onCreate={{this.addMessage}} />
</div>
--}}

<div class="messages">
  <ul class="messages">
    <Messages::Filter @messages={{@messages}} @query={{this.query}} as |results|>
      {{#each results as |message|}}
        <li><Message @message={{message}} /></li>
      {{/each}}
    </Messages::Filter>
  </ul>
  <NewMessageInput @onCreate={{this.addMessage}} />
</div>
